ul.nav.navbar-nav.links{
  padding-left:10px;
}

ul.nav.navbar-nav.links{
  font-size:30px;
}

ul.nav.navbar-nav{
  padding-left:120px;
}

li{
  padding-left:40px;
}

a{
  font-size:25px;
}

h3{
  color:#00f0ff;
}

h1{
  color:#ffff00;
  margin:60px;
}

small{
  font-size:0px;
  color:rgba(0,0,0,0);
}

small.text-success{
}

label{
  font-size:30px;
}

input{
  font-size:30px;
}

button.btn.btn-default{
  font-size:20px;
}

button.btn.btn-default{
}

p.text-center.text-primary{
  font-size:35px;
}

.navbar-inverse{
  background-color:rgb(95,82,238);
  border-color:rgba(49,46,231,0);
}

div{
  background-image:url(../../assets/img/beautiful ocean hd wallpaper  HD Wallpapers.jpg);
}

p{
  color:#000000;
}

p.text-success{
  color:#39f908;
}

p{
  color:#eb6860;
}

p{
  color:rgb(0,0,0,0);
}

h3{
  color:rgb(0,0,0,0);
}

h2.text-center.text-success{
  color:#01f946;
}

p.text-center.text-primary{
  color:#ea0db9;
}

img{
  margin-bottom:50px;
}

small.text-success{
  color:#01f8bd;
}

label{
  color:#f50606;
}

button.btn.btn-default{
  color:#010700;
}

h1{
  color:#3af10c;
}

button.btn.btn-default.submit-button{
  background-color:green;
}

h1{
  color:rgb(6,252,31);
}

button.btn.btn-primary.btn-block.btn-lg.btn-signin{
  color:#1bebf8;
}

label{
  color:rgb(0,0,0,0);
}

.login-card label{
  color:#0ff919;
  font-size:larger;
}

input{
}

